.navigation {
  width: 200px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px 34px 20px;
  background: #1d1d1d;
  transform: translateX(200px);
  transition: all 0.3s ease-in-out;

  &-on {
    transform: translateX(0px);
  }

  &__list {
  }

  &__item {
  }

  &__link {
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 1px;
    font-size: 12px;
    padding: 9px 0;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: color 0.3s ease-in-out;
  }

  & .sns {
    margin-top: 10px;

    &__link {
      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
      color: rgba(255, 255, 255, 0.6);
      transition: color 0.3s ease-in-out;
    }
  }
}
